body{background-image:url('../images/rocks.jpg');background-size:cover;background-repeat:no-repeat;background-attachment:fixed;position:relative;}
.mono{font-family:'monospace';}

#header{height: 150px;width:100%;background-color:rgba(142,167,197,0.8);position:fixed;transition:all 1s;z-index:10;}


#menu{list-style:none;font-size:25px;}
#menu li{display:flex;margin-top:55px;margin-right:5px;transition:all 0.9s;}
#contactBtn{margin-left:25px;}
#menu button a{color:#000;}
#menu button a:hover{text-decoration:none;font-weight:bold;}
#menu button a:focus{text-decoration:none;}
.active-menu-btn{text-decoration:none;font-weight:bold;}

#intro{margin-top:100px;}
#intro h2{font-size:50px;}
#intro h4{font-size:30px}

#main{position:absolute;width:100%;}

#about{padding:80px 0px;margin-top:1100px;background-color:#B1A289;width:100%;position:relative;overflow:auto;}
#about img{height:450px;}
#about p{font-size:20px;color:#000;}

#portfolio{margin-top:300px;background-color:#445364;width:100%;box-shadow:3px 3px 20px #000;border-radius:5px;}
.thumb{margin:5px 0;padding:20px 0;width:100%;height:200px;}
#portfolio .container .Row img{width:90%;margin-left:4px;position:absolute;z-index:1;padding:0;}
#portfolio .container .thumb img:hover{width:120%;position:relative;z-index:2;margin-left:-35px;margin-top:-20px;}

#follow-header {position: relative; margin-top: 50px;}
#social-links {position:relative;margin:0 0 0 0px;}
#social-links p {font-size: }
#social-links i {font-size: 40px; color: black;}
#social-links img {height: 40px; position: relative; bottom: 5px; left: 5px;}
.bigicon{font-size:25px;text-align:right;color:#B1A289;}

#contact{background-color:rgba(222,237,253, 0.7);margin-top:200px;}
#contact form{margin:50px 0 0 0px;}
#contact form input, textarea, button{border-radius:0!important;margin-top:5px;}


#foot{text-align:center;}
#foot small{margin:0;}